* {
  padding: 0;
  margin: 0 8% 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 320px) {
  * {
    margin: 2%;
  }
}

@media only screen and (max-width: 768px) {
  * {
    margin: 2%;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #ba251c;
}

@media only screen and (max-width: 768px) {
  body {
    width: 75%;
  }
}

body .header {
  margin: 30px 0 0 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media only screen and (max-width: 320px) {
  body .header {
    margin-top: 1%;
  }
}

@media only screen and (max-width: 768px) {
  body .header {
    margin-top: 0;
  }
}

body .img {
  margin: 0;
}

@media only screen and (max-width: 320px) {
  body .img {
    height: 40px;
  }
}

@media only screen and (max-width: 768px) {
  body .img {
    height: 60px;
  }
}

body .main {
  padding: 0;
  margin: 20px 0 0 0;
  width: 100%;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

@media only screen and (max-width: 320px) {
  body .main {
    margin: 0 0 0 5px;
  }
}

body .col {
  margin: 0;
}

body .title {
  margin: 25px 0 0 0;
  font-size: 40px;
}

@media only screen and (max-width: 320px) {
  body .title {
    font-size: 25px;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 768px) {
  body .title {
    font-size: 32.5px;
  }
}

body .car {
  margin: 30px 0 0 0;
  height: 240px;
}

@media only screen and (max-width: 320px) {
  body .car {
    height: 30vh;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 768px) {
  body .car {
    height: 22vh;
  }
}

body .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px auto 0 0;
  width: 520px;
  font-size: 18px;
}

@media only screen and (max-width: 320px) {
  body .description {
    margin-top: 15px;
    font-size: 15px;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  body .description {
    width: 100%;
    font-size: 19px;
  }
}

body .offer {
  margin: 30px 0 30px 40px;
  height: 220px;
}

@media only screen and (max-width: 320px) {
  body .offer {
    margin: 0 0 0 7%;
    height: 110px;
  }
}

@media only screen and (max-width: 768px) {
  body .offer {
    height: 200px;
    margin: 10px 0 5px 9vw;
  }
}

body .regulation_button {
  margin: 0;
  width: 80%;
}

body .regulation_button .button {
  border: none;
  -webkit-box-shadow: black 0em 0em 2em;
          box-shadow: black 0em 0em 2em;
  margin: 20px auto 20px auto;
  display: block;
  height: 40px;
  width: 220px;
  border-radius: 8px;
  background-color: #e1321d;
  color: white;
  cursor: pointer;
}

body .regulation {
  float: left;
  margin: 0 0 30px;
  padding: 10px;
  display: none;
  width: 450px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 15px;
  background-color: #a30e04;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

@media only screen and (max-width: 320px) {
  body .regulation {
    width: 60%;
    margin-left: 2%;
  }
}

@media only screen and (max-width: 768px) {
  body .regulation {
    margin-left: 4%;
  }
}

body #formCadastro {
  width: 50%;
  margin: 30px 0 20px 35vw;
}

@media only screen and (max-width: 320px) {
  body #formCadastro {
    margin: 0;
    padding: 0;
    width: -50%;
  }
}

@media only screen and (max-width: 768px) {
  body #formCadastro {
    margin: 0;
    padding: 0;
    width: -40%;
  }
}

body .form {
  margin-left: 0;
  width: 450px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

@media only screen and (max-width: 320px) {
  body #nome {
    width: 65%;
  }
}

@media only screen and (max-width: 320px) {
  body #email {
    width: 65%;
  }
}

@media only screen and (max-width: 320px) {
  body #cpf {
    width: 65%;
  }
}

body #telefone {
  margin-left: 31.5px;
  margin-right: 0;
  width: 180px;
}

@media only screen and (max-width: 320px) {
  body #telefone {
    margin-left: 2%;
    width: 65%;
  }
}

body #celular {
  width: 180px;
}

@media only screen and (max-width: 320px) {
  body #celular {
    width: 65%;
    margin: 0;
  }
}

body #concessionaria {
  width: 385px;
  margin-left: 31.5px;
}

@media only screen and (max-width: 320px) {
  body #concessionaria {
    margin-left: 2%;
    width: 65%;
  }
}

body #mensagem {
  padding-bottom: 150px;
}

@media only screen and (max-width: 320px) {
  body #mensagem {
    padding-bottom: 70px;
    width: 65%;
  }
}

body #enviar {
  margin-left: 31.5px;
}
/*# sourceMappingURL=style.css.map */